  ID:  <%= current_user.id %> <br>
  UID:  <%= current_user.uid %> <br>
  Username:  <%= current_user.username %> <br>
  Token:  <%= current_user.token %> <br>
  Expiration: <%= Time.at(current_user.token_expiration) %> <br>
  Link Karma: <%= current_user.link_karma %> <br>
  Comment Karma: <%= current_user.comment_karma %> <br>
<%#= link_to "My Subreddits", "https://www.reddit.com/subreddits/mine/subscriber" %> <br>

<h3>Subreddits</h3>
<% @services.subreddits.each do |subreddit| %>
  <strong><%= subreddit[:data][:display_name] %></strong> <br>
  <%= subreddit[:data][:title] %> <br>
  <%= subreddit[:data][:url] %> <br>
<% end %>
